* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #2f2f2f;
    width: 100%;
    font-family: 'Signika Negative', sans-serif;
    font-size: 18px;
}

h1 {
    font-family: 'Abril Fatface', cursive;
}

header {
    padding: 20px;
    margin: 10px 0px;
    background-color: #fdd77c;
    border-top: 4px #fcb91f dashed;
    border-bottom: 4px #fcb91f dashed;
}

/* FORM */

.form-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container p {
    margin-bottom: 10px;
}

form input {
    padding: 8px;
    font-size: 16px;
    border-radius: 6px;
    border: 2px solid #b2e4f0;
    margin: 24px 4px;
}

.button {
    padding: 8px;
    background-color: #b2e4f0;
    border: 2px dashed #fdd77c;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #2f2f2f;
    transition: 0.3s;
}

.button:hover {
    background-color: #fdd77c;
    border: 2px dashed #40b1ce;
}

/* POKEMON CARDS */

.card-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid #fcb91f 2px;
    padding: 16px;
    margin: 20px;
}

.pokemon-card:empty {
    display: none;
}

.pokemon-name {
    margin-bottom: 4px;
}

.pokemon-type {
    padding: 6px 10px;
    font-size: 10px;
    border-radius: 16px;
    background-color: #fcb91f;
    color: white;
    text-shadow: 2px 2px #888;
}

.hide {
    display: none;
}


/* POKEMON TYPE COLORS */

.bug { background-color: #a8b821; }
.dark { background-color: #6f5848; }
.dragon { background-color: #7137fd; }
.electric { background-color: #f3d239; }
.fairy { background-color: #f4b3f4; }
.fighting { background-color: #c22e2a; }
.fire { background-color: #f07f2f; }
.flying { background-color: #a890f2; }
.ghost { background-color: #715899; }
.grass { background-color: #7bc74d; }
.ground { background-color: #e0c167; }
.ice { background-color: #98d8d8; }
.normal { background-color: #6f5848; }
.poison { background-color: #a0419f; }
.psychic { background-color: #f95788; }
.rock { background-color: #b89f38; }
.steel { background-color: #b8b8d0; }
.water { background-color: #6b8fed; }


/* CHART */

.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
    max-width: 1000px;
    min-height: 36vh;
    margin: 0 auto;
}

canvas {
    width: 90vw;
}


/* FOOTER */

.footer-container {
    text-align: center;
    background-color: #ffc9de;
    padding: 30px;
    margin-top: 5vh;
}


/* MEDIA QUERIES */

@media (max-width: 480px) {
    header h1 {
        font-size: 24px;
    }

    .form-container input {
        margin: 5px 0px;
        width: 100%;
    }

    .button {
        margin-top: 15px;
        width: 100%;
    }
}

